####################################
########### EXTENSIONES ############
####################################

*.diff
*.zip
*.log

####################################
## FICHEROS Y DIRECTORIOS DE NODE ##
####################################

dist
target
.tmp
logs/

####################################
##### CONFIGURACION DE ENTORNO #####
####################################

env.json
